rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /glook_caribe_vivo/{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
